html {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  text-transform: uppercase;
  font-family: "Patua One", sans-serif;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

nav ol {
  list-style-type: none;
  font-style: bold;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #b42885;
  text-decoration: underline;
}

.intro {
  font-size: 1rem;
}

.strong {
  font-weight: bold;
  text-align: center;
  font-size: 1.125rem
}

.italic {
  font-family: pt-serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-align: left;
  font-size: 1.5rem;
}

.ni {
  font-style: italic;
}


p {
  color: #222;
}

a:not(.no-highlight) {
  color: #8f2440;
}

a:hover {
  color: #b42885;
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-greek;
}
